./tmp/*
./*.old
*.o
*.lo
*.in
*.la
*.so
Makefile
.deps
.libs

#vim backup files
*~

src/d_mos*.cc
src/d_mos*.h
src/d_dio*.cc
src/d_dio*.h
src/d_bjt.cc
src/d_bjt.h

src/gnucap
modelgen/gnucap-modelgen

Makefile
doc/Makefile
modelgen/Makefile
src/Makefile
examples/Makefile

config.h
config.log
config.status

modelgen/.deps
src/.deps

stamp-h1

