./tmp/*
./*.old
*.o
*.lo
*.in
*.la
*.so
Makefile
.deps
.libs

#vim backup files
*~

src/d_mos*.cc
src/d_mos*.h
src/d_dio*.cc
src/d_dio*.h
src/d_bjt.cc
src/d_bjt.h


src/gnucap
modelgen/gnucap-modelgen

Makefile
doc/Makefile
modelgen/Makefile
src/Makefile
examples/Makefile

m4
install-sh
aclocal.m4

config.h
config.log
config.status
config.guess
missing
libtool
ltmain.sh

modelgen/.deps
src/.deps

stamp-h1

# automatic files
gnucap-conf

# adms stuff
adms/gnucap.xml
src/discipline.h
src/d_hicum0.h
src/d_hicum0.cc
src/d_opamp.h
src/d_opamp.cc
src/d_rtest.h
src/d_rtest.cc
src/d_ctest.h
src/d_ctest.cc
src/d_dtest.h
src/d_dtest.cc
#FIXME
src/*.hxx
src/.d*adms
src/.index.va.adms
src/*.xml
src/*.htm



#verilog stuff
d_invert.cc
d_invert.h
d_lfsr.cc
d_lfsr.h
d_latch.cc
d_latch.h
d_clock.cc
d_clock.h


