./tmp/*
./*.old
*.o
*.so
gnucap/src/d_mos*.cc
gnucap/src/d_mos*.h
gnucap/src/d_dio*.cc
gnucap/src/d_dio*.h
gnucap/src/d_bjt.cc
gnucap/src/d_bjt.h

src/d_mos*.cc
src/d_mos*.h
src/d_dio*.cc
src/d_dio*.h
src/d_bjt.cc
src/d_bjt.h

*~
*.swp
*.swo

geda-sym/symbols/documentation/
geda-sym/building/
list
resistor
gnucap/src/gnucap
/src/gnucap
gnucap/modelgen/gnucap-modelgen
modelgen/gnucap-modelgen

gnucap/Makefile
gnucap/doc/Makefile
gnucap/modelgen/Makefile
gnucap/src/Makefile
gnucap/examples/Makefile

Makefile
/doc/Makefile
/modelgen/Makefile
/src/Makefile
/examples/Makefile

gnucap/config.h
gnucap/config.log
gnucap/config.status

config.h
config.log
config.status

gnucap/modelgen/.deps
gnucap/src/.deps
modelgen/.deps/
src/.deps


gnucap/stamp-h1
stamp-h1
/src/verilog_und.cc

#automatic files which are checked in anyway
Makefile.in
aclocal.m4
config.h.in
configure
install-sh
missing
